<!DOCTYPE html>
<html ng-app="ticTacToe">
<head>
	<meta charset="utf-8">
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</head>

<body ng-controller="MainController as main">
	
	<div id="container">
		<header>
			<h1 id="welcome"><a href="index.html">Tic-Tac-Toe</a></h1>
		</header>
		<div id="win-display"> <!-- ng-show="main.winner"-->
			<h2 id="win-message" ng-show="main.grid.winner">{{ main.grid.winMessage }}</h2>	
		</div>


<!-- This is the div for the left player column  -->
		<div class="player-column" id="player-one"> 
			<div class="assignment" id="left-assignment"> X </div>
			<h2 class="player-name" id="player-one-name">{{ main.grid.player1 }}</h2>
			<div class="score" id="p1" ng-show="main.grid.xCounter > 0">{{ main.grid.xCounter }}</div>

		</div>
<!-- This is the div for the right player column  -->
		<div class="player-column" id="player-two">
			<div class="assignment" id="right-assignment"> O </div>
			<h2 class="player-name" id="player-two-name">{{ main.grid.player2 }}</h2>
			<div class="score" id="p2" ng-show="main.grid.oCounter > 0">{{ main.grid.oCounter }}</div>
		</div>
		

<!-- These are the player input divs that cover the TTT board until two players have entered  -->
		<section class="board" id="first-player" ng-show="main.grid.nameOneEntered === false">
			<div class="custom-dialogue" id="first-dialogue">
				<form ng-submit="main.submitNameOne()">
					<p class="dialogue-text">enter your screen name</p>
					<input type="text" class="player-input" id="p1-name" placeholder="Player 1" ng-model="main.grid.player1">
					<button class="go" type="submit">play</button>
				</form>
			</div>
		</section>
<!-- End of player 1 input, beginning of player 2 input -->
		<section class="board" id="second-player" ng-show="main.grid.nameOneEntered && main.grid.nameTwoEntered === false">
			<div class="custom-dialogue" id="second-dialogue">
				<form ng-submit="main.submitNameTwo()">
					<p class="dialogue-text">enter your screen name</p>
					<input type="text" class="player-input" id="p2-name" placeholder="Player 2" ng-model="main.grid.player2">
					<button class="go" type="submit">play</button>
				</form>
			</div>
		</section>


<!-- This is the actually TTT game grid -->
		<section class="board" ng-show="main.grid.nameOneEntered && main.grid.nameTwoEntered">
			<div class="square" ng-repeat="square in main.grid.squares" ng-click="main.checkMove($index)" ng-class="{'x': square.move === 'x', 'o' : square.move === 'o', 'winning-squares': square.won}">
			</div>
		</section>

	</div>

</body>
</html>
